body{
    background-color: rgb(201, 117, 201);;
    background-attachment: fixed ;
    background-repeat: no-repeat; 
    border: 10% top, 10px left, 10px right;
}


.rec{
    color: rgb(245, 240, 240);
    border: 10px top;
    margin-top: 10px;
    text-align: right;
    font-style: italic;
    font-family: 'lucida calligraphy';
}
p.border{
    border-left: 10px solid rgb(241, 127, 241);
    overflow: scroll;
    background-color: white;
    padding: 15px;
    height:100px;
    width: 60%;
    word-spacing: 2px;
    letter-spacing:2px ;
}
.head{
    letter-spacing: 4px;
    word-spacing: 5px;
    
   
  }
  
  .logo{
      margin-top: 10px;
      margin-left: 20px;
  }